<section class="order about" #orderElement>
  <div class="container">
    <div class="">
      <div class="order-text-title double-title ">
        <span> Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eveniet ex explicabo fugit inventore tempora
        veritatis vero! Adipisci, amet atque, cupiditate delectus dolore doloribus dolorum expedita impedit recusandae
        unde voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eveniet ex explicabo fugit inventore tempora
        veritatis vero! Adipisci, amet atque, cupiditate delectus dolore doloribus dolorum expedita impedit recusandae
        unde voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eveniet ex explicabo fugit inventore tempora
        veritatis vero! Adipisci, amet atque, cupiditate delectus dolore doloribus dolorum expedita impedit recusandae
        unde voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eveniet ex explicabo fugit inventore tempora
        veritatis vero! Adipisci, amet atque, cupiditate delectus dolore doloribus dolorum expedita impedit recusandae
        unde voluptatibus!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eveniet ex explicabo fugit inventore tempora
        veritatis vero! Adipisci, amet atque, cupiditate delectus dolore doloribus dolorum expedita impedit recusandae
        unde voluptatibus!
      </div>
    </div>

    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="Pizza">
      <img src="assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>

